# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework

# Resource locations to be added to the default path
[Level]
FileSystem=./media/Level1/configs
FileSystem=./media/Level1/configs/effects
FileSystem=./media/Level1/scripts
FileSystem=./media/Level1/materials/programs
FileSystem=./media/Level1/materials/scripts
FileSystem=./media/Level1/materials/textures
FileSystem=./media/Level1/materials/textures/effects
FileSystem=./media/Level1/models
FileSystem=./media/Level1/overlays
FileSystem=./media/Level1/particle
FileSystem=./media/Level1/scenes
FileSystem=./media/Level1/comix


